<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header Template</title>
<style>
body {
	background-color: #ECF0F1;
}

header {
	top: -1%;
	background-image: url("/images/home-page-image.gif");
	background-size: cover;
	background-repeat: inherit;
	padding: 5%;
	margin: -10px;
	font-size: xx-large;
	color: whitesmoke;
	border-bottom: 5px solid #cfcfcf;
	position: inherit;
	width: inherit;
	font-family: cursive;
}
</style>
</head>
<body>
	<header>
		myTicket <span style="margin-left: 1100px"><a
			style="color: whitesmoke; font-size: medium;" href="/profile">Profile</a>
			<a style="color: whitesmoke; font-size: medium;" href="/logout">Logout</a></span>
	</header>
</body>
</html>