<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header Template</title>
<style>
header {
	top: 0%;
	background-image: url("/images/home-page-image.gif");
	padding: 5%;
	margin: -20px;
	font-size: xx-large;
	color: whitesmoke;
	border-bottom: 5px solid #cfcfcf;
	position: static;
	width: 100%;
	font-family: cursive;
}

img {
	border-radius: 20%;
	height: 100px;
	position: fixed;
	top: 50px;
	right: 150px;
	position: fixed;
}
</style>
</head>
<body>
	<header>
		myTicket <span style="margin-left: 1100px"><a href=""><button
					style="padding: 5px; border: 0px;">Profile</button> </a><a href=""><button
					style="padding: 5px; border: 0px;">Logout</button></a></span>
	</header>
</body>
</html>